<menu></menu>
     
	<div class="text" ng-controller="userController">
		<table class="table" ng-init="order='id'">
		<tr>
			<td class="table__header" 
				ng-class="{'table__header-active':order=='id'}" 
				ng-click="order='name';reverse=!reverse">
				Name 
				<span ng-show="reverse && order=='name'">&uarr;</span>
				<span ng-show="!reverse  && order=='name'">&darr;</span></td>
			
			<td class="table__header" 
				ng-class="{'table__header-active':order=='score'}" 
				ng-click="order='srore';reverse=!reverse">
				Score
				<span ng-show="reverse && order=='score'">&uarr;</span>
				<span ng-show="!reverse && order=='score'">&darr;</span></td>
			
			
		</tr>
		<tr ng-repeat="item in users | orderBy:order:reverse">
			
			<td>{{item.name}}</td>
			<td>{{item.score}}</td>
		</tr>
	</table>
	</div>
